:root {
    --background-color: #2F4F4F;
    --text-color: #FFFAF0;
    --accents-color: #DAA520;
    --links-color: #B0C4DE;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
}


.merriweather {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--accents-color);
    font-family: 'cinzel';
}

a {
    color: var(--links-color);
}

p, a, li {
    font-family: 'Merriweather';
    font-size: .8rem;
}

img {
    width: 80vw;
}